<header class="mySection">
    <nav class="areas pt-4 pl-0 navbar navbar-expand-lg navbar-custom wow animate__fadeInDown">
        <span class="icon-three-bars navbar-toggler size-27" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['welcome']">Comunicación</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['services']">Análogicos</a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
          <a class='nav-link' [routerLink]="['portfolio']">Portfolio</a>
        </li> -->
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['projects']">Proyectos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['skills']">Habilidades</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['contact']">Contáctanos</a>
                </li>
            </ul>
        </div>
    </nav>
</header>