<app-header-profile *ngIf="login === 'true' "></app-header-profile>
<video id="my-player" class="video-js" #target controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'>
    <source src="/assets/videos/5. Instalar AngularCLI.mp4" type="video/mp4" />
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="/assets/videos/5. Instalar AngularCLI.mp4" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>