
<section class="mySection pt-3 display-flex align-items-center">
        <div class="rotar h-100">
            <h5 class="mb-0 family-600 black size-23 move">Tipos de Señales</h5>
        </div>
        <div class="mr-5 line"></div>
    <div class="areas">
        <div class="row">
            <div class="col-md-4">
                <span class="family-700 black size-45 mr-3"><span class="red-c">A</span>M</span>
            </div>
            <div class="col-md-5 display-flex align-items-center">
                <span class="size-18 family-500 pt-2 pb-3"><i>Modulación en Amplitud</i></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <span class="family-700 black size-45"><span class="blue-e">F</span>M</span> 
            </div>
            <div class="col-md-6 display-flex align-items-center">
                <span class="size-18 family-500 pt-2 pb-3">
                    <i>Modulación en Frecuencia</i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="family-700 black size-45 mr-3"><span class="green-d">P</span>M</span> 
            </div>
            <div class="col-md-6 display-flex align-items-center">
                <span class="size-18 family-500 pt-2 pb-3">
                    <i>Modulación en Fase</i>
                </span>
            </div>
        </div>
    </div>
</section>
