@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');

.family-condensed{font-family: 'Fira Sans Extra Condensed', sans-serif;font-weight: 400;}

.mySection{
    width: 100%;
    display: flex;
    justify-content: center;
}
.areas{width: 100%;}
.areas .row{margin-left: 0;margin-right: 0;}
.areas .row .rubik_left{padding-left:0;}
.mySection .row .rubik_right{padding-right:0;}
.imgRight{width:70%;}

@media(min-width:1000px) and (max-width:2000px){
    .space{padding-left: 19%;padding-bottom:5%;}
    .text{padding-left: 12%;}
}

@media(min-width:300px) and (max-width:550px){
    h2{font-size: 28px;text-align: center;}
    .cards-phone{flex-direction: row !important;align-items: center;}
    .card-title{font-size: 16px;}
    .card-text.info-bio{font-size: 11px;}
    .cards-img-phone{width: 40%;}
    .imgLeft{display: none;}
    .size-36{font-size: 23px;}
    .size-30{font-size: 14px;}
    .size-18{font-size: 11px;text-align: center;}
    .imgRight{display: none;}
    .padding-0{padding-left: 0px;padding-right: 0px;}
}
