<app-header *ngIf="login === null"></app-header>
<app-header-profile *ngIf="login === 'true' "></app-header-profile>
<div class="row m-0 border border-white">
    <div class="wow animate__backInLeft col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\angular-seeklogo.com.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45 mr-3 "><span class="red-c">A</span>ngular</span>
            </div>
            <p class="lead family-500">Somos expertos usando el framework javascript de frontend Angular, para realizar páginas webs exclusivas de pedido específico y de fácil ajuste para proyectos grandes y medianos.</p>
        </div>
    </div>
    <div class="wow animate__bounceInDown col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeY col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\laravel-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeY col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="orange-q">L</span>aravel</span>
            </div>
            <p class="lead family-500">Framework de PHP Laravel realizamos la mayor parte del backend de las aplicaciones, debido a su gran alcance y estructura muy robusta.</p>
        </div>
    </div>
    <div class="wow animate__backInRight col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\python-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="blue-e">P</span>ython</span>
            </div>
            <p class="lead family-500">Creamos Aplicaciones Web con lenguaje python en el backend, por su rápido ajuste e integración con programas hechos con machine learning. Además de ser un lenguaje muy robusto y de gran aplicabilidad en cualquier plataforma.</p>
        </div>
    </div>
    <div class="wow animate__backInLeft col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\noun_Machine Learning_1701172.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45 mr-3"><span class="red-c">M</span>achine <span class="blue-e">L</span>earning</span>
            </div>
            <p class="lead family-500">Realizamos proyectos con la tecnología de los algoritmos hechos en Python de Machine Learning, procesamiento natural de lenguajes PNL (muy aplicable en sistemas de recomendaciones) y redes neuronales. Todo esto con el fin de tener un grado
                de inteligencia artificial en tus aplicaciones o proyectos.</p>
        </div>
    </div>
    <div class="wow animate__backInUp col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeY col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\nodejs-seeklogo.com.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeY col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="green-d">N</span>ode JS</span>
            </div>
            <p class="lead family-500">Framework de backend basado en Javascript, que utilizamos debido a su facilidad para hacer funciones asíncronas en tiempo real como notificaciones y chats.</p>
        </div>
    </div>
    <div class="wow animate__backInUp col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeY col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\wordpress-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeY col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="yellow-p">W</span>ordpress</span>
            </div>
            <p class="lead family-500">Con wordpress realizamos proyectos sencillos rápidos y económicos, por la sencillez, facilidad de sus plantillas y al estar programado en PHP, lo que facilita si se requiere hacer ajustes adicionales.</p>
        </div>
    </div>
    <div class="wow animate__backInRight col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\ionic-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="blue-o">I</span>onic</span>
            </div>
            <p class="lead family-500">Creamos Aplicaciones móviles multiplataforma con el framework que tiene como base Angular. Con esta tecnología no hay que preocuparse por la compatibilidad de Apps móviles de Androide o IOS, y con ello los precios son menores.</p>
        </div>
    </div>
    <div class="wow animate__backInLeft col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\bootstrap-seeklogo.com.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="violet-w">B</span>ootstrap</span>
            </div>
            <p class="lead family-500">Usamos en framwork de CSS Bootstrap para tener páginas webs responsivas y más elegantes en cualquier navegador, en cualquier tamaño.</p>
        </div>
    </div>
    <div class="wow animate__backInUp col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeY col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\vuejs-seeklogo.com.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeY col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="menta-w">V</span>ue JS</span>
            </div>
            <p class="lead family-500">Framework de frontend basado en javascript, que utilizamos como Angular, pero con una curva de aprendizaje menor y más flexible y fácil integración con Laravel.</p>
        </div>
    </div>
    <div class="wow animate__backInUp col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeY col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\flask-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeY col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="yellow-p">F</span>lask</span>
            </div>
            <p class="lead family-500">Con el framwork Flask de Python, se crea de manera sencilla y ligera proyectos webs pequeños y medianos con toda la potencia que puede ofrecer Python.</p>
        </div>
    </div>
    <div class="wow animate__backInLeft col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\git-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45 mr-3 "><span class="red-c">G</span>it</span>
            </div>
            <p class="lead family-500">Es un control de versiones que facilita el respaldo de los proyectos y el trabajo en equipo entre desarrolladores. </p>
        </div>
    </div>
    <div class="wow animate__backInRight col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\Linux.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="">L</span>inux</span>
            </div>
            <p class="lead family-500">Configuramos los servidores basados en Linux, para webs exclusivas y con todos los beneficios que ofrece el sistema operativo, con mejor precio y eficiencia.</p>
        </div>
    </div>
    <div class="wow animate__backInLeft col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\angular-material-seeklogo.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="violet-p">A</span>ngular Material</span>
            </div>
            <p class="lead family-500">Framework de CSS, para tener páginas webs responsivas y elegantes. Además cuenta una fácil integración de temas y animaciones con el framework Angular.</p>
        </div>
    </div>
    <div class="wow animate__backInRight col-12 col-md-4 p-3 p-md-5 bg-light border border-white d-flex flex-column align-items-center align-items-md-start">
        <div class="wow animate__shakeX col-md-3 d-flex flex-column align-items-center justify-content-center">
            <img src="assets\skills\github-seeklogo.com.svg" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="wow animate__shakeX col-md-12 d-flex flex-column">
            <div class="col-md-4 ">
                <span class="family-700 black size-45"><span class="">G</span>ithub</span>
            </div>
            <p class="lead family-500">Portal creado para alojar el código de las aplicaciones de cualquier desarrollador, para así tener un respaldo en la web e integrar los equipos de trabajo remotamente.</p>
        </div>
    </div>
</div>