<header class="mySection">
    <nav class="areas pt-4 pl-0 navbar navbar-expand-lg navbar-custom wow animate__fadeInDown">
        <span class="icon-three-bars navbar-toggler size-27" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['/welcome']">Comunicación</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['/modulacion']">Modulación</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['/trasmision']">Transmisiòn</a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['/skills']">Habilidades</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class='nav-link' [routerLink]="['/contact']">Contáctanos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link family-500 black" [routerLink]="['/register']">
                        REGISTRO
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link family-500 black" [routerLink]="['/login']">
                        INICIAR SESIÓN
                    </a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>